<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
	<h1 align="center">NAT WORK</h1>
{% block content %}
{% endblock %}
<h2>Краткая информация о NAT</h2>
<div class="wrapper">
	<div class="content">
		<div class="tabs">
			<nav class="tabs__items">
				<a href="#tabs_1" class="tabs__item"><span>1.Что такое NAT?</span></a>
				<a href="#tabs_2" class="tabs__item"><span>2.Что делает NAT?</span></a>
				<a href="#tabs_3" class="tabs__item"><span>3.Routers with NAT</span></a>
			</nav>
			<div class="tabs_body">
				<div id="tabs_1" class="tabs_block">
					Как изветсно сети обычно проектируются с использованием частных IP адресов. Это адреса 10.0.0.0/8, 172.16.0.0/12 и 192.168.0.0/16. Эти частные адреса используются внутри 
					организации или площадки, чтобы позволить устройствам общаться локально, и они не маршрутизируются в интернете. Чтобы позволить устройству с приватным IPv4-адресом 
					обращаться к устройствам и ресурсам за пределами локальной сети, приватный адрес сначала должен быть переведен на общедоступный публичный адрес.
				</div>
				<div id="tabs_2" class="tabs_block">
					NAT переводит приватные адреса, в общедоступные. Это позволяет устройству с частным адресом IPv4 обращаться к ресурсам за пределами его частной 
					сети. NAT в сочетании с частными адресами IPv4 оказался полезным методом сохранения общедоступных IPv4-адресов. Один общедоступный IPv4-адрес может быть использован 
					сотнями, даже тысячами устройств, каждый из которых имеет частный IPv4-адрес. NAT имеет дополнительное преимущество, заключающееся в добавлении степени конфиденциальности 
					и безопасности в сеть, поскольку он скрывает внутренние IPv4-адреса из внешних сетей.
				</div>
				<div id="tabs_3" class="tabs_block">
					Маршрутизаторы с поддержкой NAT могут быть настроены с одним или несколькими действительными общедоступными IPv4-адресами. Эти общедоступные адреса называются пулом NAT. 
					Когда устройство из внутренней сети отправляет трафик из сети наружу, то маршрутизатор с поддержкой NAT переводит внутренний IPv4-адрес устройства на общедоступный адрес 
					из пула NAT. Для внешних устройств весь трафик, входящий и выходящий из сети, выглядит имеющим общедоступный IPv4 адрес. Маршрутизатор NAT обычно работает на границе Stub-сети. 
					Stub-сеть – это тупиковая сеть, которая имеет одно соединение с соседней сетью, один вход и выход из сети. Когда устройство внутри Stub-сети хочет связываться с устройством за пределами 
					своей сети, пакет пересылается пограничному маршрутизатору, и он выполняет NAT-процесс, переводя внутренний частный адрес устройства на публичный, внешний, маршрутизируемый адрес.
				</div>
			</div>
		</div>
	</div>
</div>>
</body>
<div>
<hr> 
<p align="center">® Completed by students of the AP-83 group I.I. Chulunov and A.E.Bakrasov 2021.</p>
</div>
</html>

</body>
</html>
